<div>
    <div class="row">
        <div class="col-md-2">
            <h3>Comments</h3>
        </div>
    </div>
    <ul class="list-group" >
        <li class="list-group-item" ng-repeat="comment in app.commentPage.Items">
            <div class="row">
                <div class="col-md-2">
                    <h3>User: {{comment.User.Login}}</h3>

                </div>
                <div class="col-md-4">
                    <h3>Date: {{comment.TimeStamp}}</h3>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-danger" ng-show="app.role=='ADMIN'" ng-click="app.deleteComment(comment.Id)">Delete</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>{{comment.Content}}</p>
                </div>
            </div>
        </li>
    </ul>

    <nav>
        <ul class="pager">
            <li><button class="btn btn-default" ng-class="{disabled : app.commentPage.PageNumber===1 || app.commentPage===undefined}" ng-click="app.previousCommentPage()">Previous</button></li>
            <li><button class="btn btn-default" ng-class="{disabled : app.commentPage.PageNumber===app.commentPage.TotalPages || app.commentPage===undefined}" ng-click="app.nextCommentPage()">Next</button></li>
        </ul>
    </nav>
</div>