<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>New comment</legend>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="comment"></label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="comment" name="comment" ng-model="app.comment.Content"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="commentBtn"></label>
  <div class="col-md-4">
    <button id="commentBtn" name="commentBtn" class="btn btn-primary" ng-click="app.postComment()">Post</button>
  </div>
</div>

</fieldset>
</form>
