<div class="jumbotron">

    <div class="row">
        <div class="col-md-4">
            <h1>{{app.model.Name}}</h1>
        </div>
    </div>
    <div class="row">
            <button class="btn btn-warning" ng-click="app.edit()">Edit</button>
            <button class="btn btn-danger" ng-click="app.delete()">Delete</button>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>By: </h2>
        </div>
        <div class="col-md-2">
            <h2><a href="{{'#artist/show/'+app.model.Artist.Id}}">{{app.model.Artist.Name}}</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h3>Number:</h3>
        </div>
        <div class="col-md-2">
            <h3>{{app.model.Number}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h3>Length</h3>
        </div>
        <div class="col-md-2">
            <h3>{{app.model.Length}}</h3>
        </div>
    </div>

    <div ng-include="'resources/pages/rating/index.html'"></div>


    <div class="row">
        <div class="col-md-2">
            <h3>Tracklist</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" ng-click="app.addSong()">Add song</button>
        </div>
    </div>


    <div ng-include="'resources/pages/tables/song_table.html'"></div>



    <div ng-include="'resources/pages/comments/post.html'"></div>
    <div ng-include="'resources/pages/comments/index.html'"></div>
</div>